/.ExpressionTextDescriptionLabelProvider.java._trace
/.ExpressionTextLabelProvider.java._trace
/.ExpressionTextDescriptionLabelProvider.xtendbin
/.ExpressionTextLabelProvider.xtendbin
/ExpressionTextDescriptionLabelProvider.java
/ExpressionTextLabelProvider.java
